/* Основной стиль для body */
body {
    margin: 0;
    padding: 0;
    background-color: #388e3c; /* Зеленый фон */
    font-family: 'Roboto', sans-serif;
    color: #000000; /* Черный цвет текста по умолчанию */
}

/* Стиль для контейнера */
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px; /* Ограничение ширины контейнера */
}

/* Стиль заголовка */
h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #000000; /* Черный цвет заголовка */
}

/* Стиль для текстового поля с реферальной ссылкой */
#referral-link {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #d32f2f; /* Красная граница */
    border-radius: 5px;
    text-align: center;
    color: #000000;
    background-color: #f9f9f9; /* Светло-серый фон для текстового поля */
    margin-bottom: 20px;
}

/* Стиль для кнопки копирования ссылки */
#copy-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #d32f2f; /* Красный фон кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#copy-btn:hover {
    background-color: #c62828; /* Темно-красный при наведении */
}
